@tailwind base;
@tailwind components;
@tailwind utilities;
 
.text-5xl{
  font-size: 3.75rem !important;
  line-height: 2.25rem;
}

.spots{
  border-radius: 30.125rem;
  background: #1b89ad;
  filter: blur(100px);
}

.bg-custom-color {
  background-color: #e3f1fb;
  height: 100px;
}
.text-10xl{
  font-size: 5rem !important;
  line-height: 2.25rem;
}

@layer base {
  body {
    @apply bg-[#e3f1fb];
    @apply text-[#324B59]
  }
}